.mainBody {
  border: 2px solid #1a1b21;
  background-color: #1a1b21;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  transition: all 0.3s;
  color: #aaaac0;
}

.name {
  cursor: pointer;
  color: white;
  font-size: 25px;
  font-weight: 700;
  line-height: 30.26px;
  text-align: center;
  margin-top: 21px;
}

.details > *:hover {
  transform: scale(1.1);
  transition: all 0.25s;
}

.role {
  cursor: pointer;
  color: #f3bf99;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 15.49px;
  text-align: center;
  margin-top: 6.2px;
}

.website {
  display: block;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 15.36px;
  text-align: center;
  color: #f5f5f5;
  margin-top: 8.8px;
}

.important-links {
  display: flex;
  justify-content: space-around;
  padding: 5px 25px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.important-links > *:hover {
  transform: scale(1.15);
}

#email {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: white;
  color: black;
  width: 115px;
  height: 34px;
  padding: 9px 20px;
  border-radius: 6px;

  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

#linkedin {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #5093e2;
  color: white;
  width: 115px;
  height: 34px;
  padding: 9px 15px;
  border-radius: 6px;

  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}

.about-section {
  cursor: pointer;
  margin: 24px 34px;
}

.about-section > *:hover {
  transform: scale(1.075);
  transition: all 0.2s;
}

.about-section h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.about-section p {
  font-size: 10.24px;
  font-weight: 400;
  line-height: 15.36px;
  text-align: left;
}
